body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0 20px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #222;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}


#search-bar {
    max-width: 600px;
    margin: 0 auto 40px auto;
    display: flex;
    gap: 8px;
    padding: 5px 15px;
    border-radius: 30px;
    background: #222;
}

#search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    border: none;
    color: white;
    outline: none;
}

#home-btn {
    background-color: transparent;
    border: none;
    color: #666;
    padding: 10px 0;
    font-weight: 500;
    box-shadow: none;
}

#home-btn:hover {
    background-color: transparent;
    color: #333;
    transform: translateX(-5px);
    box-shadow: none;
}

/* --- Centrage du Formulaire --- */
#login-form {
    background-color: #fff;
    max-width: 400px;
    margin: 60px auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.form-group {
    margin: 18px;
    padding: 0 10px;
}

.form-group label {
    display: block;
    color: #444;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input {
    width: 92%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    padding: 12px;
}

.login-btn {
    width: 95%;
    padding: 12px 0;
    margin: 0 10px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #444;
}

#already-account,
#no-account {
    font-size: 0.9em;
    color: #666;
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
}

#already-account:hover,
#no-account:hover {
    text-decoration: underline;
    color: aqua;
}

span {
    width: 100%;
    cursor: pointer;
}